<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value=""/>
		<add key="server" value=""/>
		<add key="database" value=""/>
		<add key="uid" value=""/>
		<add key="pwd" value=""/>
		<add key="Messagerecivetime" value="1"/>
		<add key="Sn" value=""/>
		<add key="str" value=""/>
		<add key="Ctle" value=""/>
		<add key="offtime" value="1"/>
		<add key="serverip" value=""/>
		<add key="listenpoint" value="8001"/>
		<add key="webdomain" value=""/>
		<add key="list_separator" value=""/>
		<add key="everyrecivetime" value="2"/>
		<add key="warmingmessage" value=""/>
		<add key="filternum" value=""/>
		<add key="folderPath" value=""/>
		<add key="mysqlconnectionstring" value=""/>
		<add key="mysqldatabaseip" value=""/>
		<add key="mysqldabasename" value=""/>
		<add key="mysqldatabaseusername" value="root"/>
		<add key="mysqldatabasepassword" value=""/>
		<add key="importtimes" value=""/>
		<add key="port" value="3306"/>
		<add key="renamefile" value="dcradius"/>
	</appSettings>
	
</configuration>