<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
	 <add key="connectionString" value=""/>
		<add key="serverip" value=""/>
		<add key="point" value="8001"/>
	 <add key="localpoint" value=""/>
	<add key="sendpoint" value=""/>
   <add key="url" value="" />
	</appSettings>
</configuration>